#contain-all-moon {
	// display: inline-block;
	overflow: hidden;
	border-radius: 50%;
  width: 300px; // SIZE
  margin-left: 37%;
	box-sizing: border-box;
  // box-shadow: inset 0 -327px black; // for inconsistency in SVG bottom has gap
  transform: scale(1.5);
  z-index: 99999;
  // Hover Effect

	svg {
    transform-origin: 50% 50%;
    // transform: scale(2.5);
    box-sizing: border-box;

	}
	#moon-group {

		@keyframes hover {
			50% {transform: translatey(-1%)}
		}
		#moon {
			fill: url(#_rgradient_0);
			animation: hover 2000ms 500ms ease-in-out infinite;
		}
		#aura-group {
			@keyframes pulse {
        0% {
          fill: var(--yellow);
          opacity: .2;
        };
        50% {
          transform: scale(1.6);
          fill: #D9D9BE;
          opacity: 0.6;
        };
        100% {
          fill: var(orange);
          // fill: #efe
          opacity: 1;
        }
			}
			@for $i from 1 through 3 {
				#aura-#{$i} {
					transform-origin: 50% 50%;
					animation: pulse 3000ms 750ms * $i ease-in-out infinite;
				}
      }
    }

    #aura-group:hover {
      fill: black;
    }
    #moon:hover {
      cursor: help;
      fill: orangered;
    }

		#crater-group {
			@for $i from 1 through 4 {
				#crater-#{$i} {
					transform-origin: 50% 50%;
					animation: hover 2000ms 500ms ease-in-out infinite;
				}
      }
		}
	}
	#mountain-group {
		@keyframes jam {
			30% {transform: translatex(2%) translatey(2%)}
			60% {transform: translatex(-2%) translatey(2%)}
		}
		@for $i from 1 through 4 {
			#mountain-#{$i} {
				animation: jam 2500ms 625ms * $i ease-in-out alternate infinite;
			}
		}
	}
}
