.skills-main-div {
  /* margin-bottom: -21%; */
  display: flex;
}

.skills-header {
  font-size: 60px;
  line-height: normal;
  font-family: "Google Sans Regular";
  text-align: center;
  padding-bottom: 0;
}

.skills-text {
  font-size: 13px;
  margin-bottom: 0;
}

.skills-text-div {
  /* margin-left: 50px; */
  font-family: "Google Sans Regular";
}

.skills-main-div > * {
  flex: 1;
  /* margin-bottom: 30px; */
  /* margin-left: 6%; */
  /* width: 422px; */
  /* height: 666px; */
}

.skills-image-div > * {
  max-width: 100%;
  height: auto;
  margin-top: 100px;
}

.skills-heading {
  text-align: initial;
  font-size: 56px;
  font-weight: 600;
  font-family: "Google Sans Regular";
  line-height: normal;
  margin-bottom: 0;
}

.section_card {
  margin: 10px 0 30px 0;
}

.skills-list {
  padding: 0.5rem;
  line-height: 2;
  margin: 0;
  /* list-style-type: none; */
  text-align: justify;
}


/* Media Query */
@media (max-width: 1380px) {
  .skills-heading {
    font-size: 14px;
  }
  .skills-header {
    font-size: 50px;
  }
  /* .skills-image-div > img {
    margin-top: 0px;
  } */
}
@media (max-width: 768px) {
  .skills-heading {
    font-size: 30px;
    text-align: center;
  }
  .skills-header {
    font-size: 30px;
  }
  .greeting-text-p {
    font-size: 16px;
    line-height: normal;
  }
  .skills-main-div {
    flex-direction: column;
  }
  .skills-text-div {
    margin-left: 0px;
    margin: 20px;
  }
  .skills-text {
    font-size: 16px;
  }
  .skills-text-subtitle {
    font-size: 16px;
    text-align: center;
  }
  .skills-image-div {
    /* display: none; */
    order: 2;
  }
  .skills-image-div > * {
    margin-top: 0px;
  }
}
