.bordered-grid-item {
  /* border: 1px black dashed; */
  /* text-align: center; */
}

.education {
  /* border: 1px solid blue; */
}

.education-container {
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04) !important;
  background-color: #ffffff;
}

.education-title {
  font-size: 14px;
}

.education-degree {
  width: 190px;
  word-wrap: break-word;
}

.education-main-div {
  padding: 1rem;
  /* padding-top: 0; */
  font-size: 14px;
}

.education-school {
  font-size: 18px !important;
  width: 250px;
  word-wrap: break-word;
}

.grid-parent {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr;
  padding: 20px 10px;
  margin: 0px auto;
  margin-top: 2rem;
}

.iconify-parent {
  display: flex;
}

.iconify-container {
  display: flex;
  margin-right: 10px;
}

.iconify {
  margin-right: 5px;
}

.iconify-location {
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 0;
}

.mb {
  margin-bottom: 5px;
}

.skills-main-div {
  display: flex;
  flex-direction: column;
}

.skills-header {
  font-size: 60px;
  line-height: normal;
  font-family: "Google Sans Regular";
  text-align: center;
}

.skills-text {
  font-size: 16px;
}

.skills-text-div {
  margin-left: 50px;
  margin-right: 50px;
  font-family: "Google Sans Regular";
}

.skills-sentence-div {
  display: "flex";
  flex-direction: "column";
  padding: 10px;
  align-items: flex-start;
}

.skills-main-div > * {
  flex: 1;
  margin-bottom: 30px;
  /* border: 1px solid salmon; */
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04) !important;
  background-color: #ffffff;
}

.skills-image-div > * {
  max-width: 100%;
  height: auto;
  margin-top: 100px;
}

.skills-heading {
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  font-family: "Google Sans Regular";
  line-height: normal;
  margin: 5px 5px 0 5px;
  padding: 10px 10px 0 10px;
  margin-bottom: 10px;
  margin-top: 20px;
}

.skills-company-title {
  font-size: 18px;
  font-weight: 600;
  font-family: "Google Sans Regular";
  margin-top: 0;
}

.skills-company-title > a {
  text-decoration: none;
}

.skills-company-position {
  font-size: 14px;
  font-weight: 400;
  font-family: "Google Sans Regular";
  margin-bottom: 0;
}

.skills-container {
  /* border: 1px solid blue; */
  margin: 1.25rem;
  /* display: flex;
  flex-direction: column;
  justify-content: space-evenly; */
}

.skills-list {
  /* border: 1px solid red; */
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04) !important;
  background-color: #ffffff;
}

/* Media Query */
@media (max-width: 1380px) {
  .education-school {
    width: unset;
    word-break: unset;
  }
  .skills-heading {
    font-size: 14px;
  }
  .skills-header {
    font-size: 50px;
  }
}
/* ----------- iPad Pro ----------- */
/* Portrait and Landscape */
@media only screen and (min-width: 1024px) and (max-height: 1366px) and (-webkit-min-device-pixel-ratio: 1.5) {
}

/* Portrait */
@media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
}

/* Landscape */
@media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1.5) {
}

/* ----------- iPad ----------- */
@media only screen and (device-width: 768px) {
  .iconify-parent {
    flex-direction: column;
  }
  .skills-text-div {
    margin: unset;
  }
}

@media (max-width: 767px) {
  .iconify-parent {
    flex-direction: column;
  }
  .grid-parent {
    display: unset;
  }
  .skills-heading {
    font-size: 14px;
    text-align: center;
  }
  .skills-header {
    font-size: 30px;
  }
  .greeting-text-p {
    font-size: 16px;
    line-height: normal;
  }
  .skills-main-div {
    flex-direction: column;
  }
  .skills-text-div {
    /* margin-left: 0px;
    margin: 20px; */
  }
  .skills-text {
    font-size: 16px;
  }
  .skills-text-subtitle {
    font-size: 16px;
    text-align: center;
  }
  .skills-image-div {
    /* display: none; */
    order: 2;
  }
  .skills-image-div > * {
    margin-top: 0px;
  }
}
