svg {
  z-index: -1;
  height: 25%;
}
/****************************************************************************
                                    keyframes
*****************************************************************************/

.sun1 {
  animation-duration: 2s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
  pointer-events: fill;
  z-index: 99999;
}

.sun1:hover,
.bright:hover {
  fill: orangered;
}

@keyframes color-change {
  0% {
    fill: var(--yellow);
  }

  50% {
    fill: var(--yellow-lighter);
  }

  100% {
    fill: var(orange);
  }
}

@keyframes cloud-move {
  from {
   transform: translate(0, 50px);
}

  to {
    transform: translate(200px, 50px);
  }
}

.cloud-front {
  z-index: -1;
  animation-duration: 30s;
  animation-name: cloud-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(500px, 48px);
  }

  to {
    transform: translate(100px, 48px);
  }
}
@keyframes cloud-move-reverse1 {
  from {
    transform: translate(400px, 48px);
  }

  to {
    transform: translate(100px, 48px);
  }
}

.cloud-back {
  z-index: -1;
  animation-duration: 40s;
  animation-name: cloud-move-reverse;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

.cloud-back1 {
  z-index: -1;
  animation-duration: 30s;
  animation-name: cloud-move-reverse;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  animation-timing-function: ease-in-out;
}

.-z-1 {
  z-index: 9999;
}

.center {
  text-align: center;
}
